
.custom-swiper-pagination .swiper-pagination-bullet {
     background-color: #8f1548; 
     opacity: 1;
     transition: background-color 0.3s;
   }
   
   .custom-swiper-pagination .swiper-pagination-bullet-active {
     background-color: #130a55; 
   }
   