.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f0f0f0; 
  padding: 20px;
  overflow-x: hidden;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 10rem; 
  position: relative;
}

.hero-image {
  position: relative; 
}

.hero-image .image-style {
  width: 26rem;
  height: auto;
  margin-bottom: 6rem;
}
.image-style2 {
  position: absolute;
  top: 5rem;
  left: 2.2rem;
  width: 27rem;
  height: auto;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 30rem;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10rem;
}

.hero-text h1 {
  margin-bottom: 10px;
  color: rgb(160, 28, 74); 
}

.hero-text p {
  color: rgb(5, 5, 59);
  font-size: 1rem;
}

.hero-text a {
  text-decoration: none;
}

/* Media queries for mobile responsiveness */
@media (max-width: 1090px) {
  .hero-content {
    flex-direction: column;
    gap: 2rem;
  }

  .hero-image .image-style {
    width: 100%;
    margin-top: 32rem;
  }
  
  .image-style2 {
    position: absolute;
    top: 35rem;
    left: 1rem;
    width: 100%;
    z-index: 1;
  }

  .hero-text {
    width: 100%;
    align-items: center;
    text-align: center;
    position: relative;
    bottom:2rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-text a {
    margin: 0 auto;
  }

#btn{
  position: relative;
right: 2rem;
}
}
